<%- include('../fragmente/head', { titlu: titlu, descriere: text }) %>
<%- include('../fragmente/header') %>
<main>
    <section>
        <h1><%= titlu %></h1>
        <p><%= text %></p>
        <img src="<%= imagine %>" alt="Eroare">
    </section>
</main>
<%- include('../fragmente/footer') %>
